@{
    ViewData["Title"] = "Solutions";
}

<h1>All Cretaceous Solutions</h1>



<h3>Solutions:</h3>
<ol>
@foreach (Solution solution in Model)
{
  <li><strong>@solution.Name</strong> <a href="/Solutions/Details/@(solution.SolutionId)">View Details</a></li>
}
</ol>

