@{
    ViewData["Title"] = "Issues";
}

<h1>Showing Results For: </h1>

<ol>
@foreach (Issue issue in Model)
{
  <li><strong>@issue.Name</strong> <a href="/Issues/Details/@(issue.IssueId)">View Details</a></li>
}
</ol>

@Html.ActionLink("Search For Issues", "Search", "Issues")

