@{
    ViewData["Title"] = "Search Issues";
}

<form>
  <label for="search">Search</label>
  <input type="text" name="search" id="search">
  <button type="submit" class="btn btn-secondary">Search</button>
</form>