@{
    ViewData["Title"] = "Discord Issues Bot";
}

<div class="section-1-bg">
</div>
<div class="section-1 container">
  <div class="row">
    <div class="col">
      <img src="~/img/preview.png" alt="Discord Issues Bot Preview" />
    </div>
    <div class="banner col">    
      <h1 class="display-4">Discord Issues Bot System</h1>
      <p class="lead">A simple system for posting issues and providing solutions on your Discord server.</p>
      @* @Html.ActionLink("Issues", "Index", "issues")     *@
    </div>
  </div>
  
</div>
<div class="section-2">

</div>
<div class="section-3">

</div>