@{
    ViewData["Title"] = "Discord Issues Bot";
}

<div class="section-1-bg">
</div>
<div class="section-1 container">
  <div class="row shadow p-5">
    <div class="col">
      <img src="~/img/preview.png" alt="Discord Issues Bot Preview" />
    </div>
    <div class="banner col ">
      <div id="circuit-container">
        <img id="circuit" src="~/img/circuit.png" alt="Discord Issues Bot Preview" />
      </div>
      <h1 class="display-4 font-weight-bold text-white">Discord Issues Bot System</h1>
      <p class="lead font-weight-bold text-white-50">A simple system for posting issues and providing solutions on your Discord server.</p>
      @* @Html.ActionLink("Issues", "Index", "issues")     *@
      
    <div class="row">
      <div class="col">
        <a href="#slash-commands" class="btn shadow text-white" id="slash-btn"><span>How to Use</span></a>
        <a href="#get-started" class="btn bg-primary rounded-pill border text-white">Get Started</a>
      </div>

    </div>

    </div>
  </div>
  
</div>
<div class="section-2">

</div>
<div class="section-3">

</div>