html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1680px;

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #011525;
  color: aliceblue;
}

a,
td,
th {
  color: aliceblue;
}

.section-1-bg {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  z-index: -1;
  background: rgb(0, 21, 36);
  background: linear-gradient(0deg, rgba(0, 21, 36, 1) 0%, rgba(121, 9, 85, 1) 56%, rgba(210, 47, 47, 1) 100%);
}

.section-1 {
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

.section-2 {
  min-height: 50vh;
  min-width: 100vh;
}

.walking {
  animation-name: displaceContent;
  animation-duration: 25s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}



@keyframes displaceContent {

  from {
    transform: translateX(5em);
  }

  25% {
    transform: translateX(30em);
  }

  50% {
    transform: translateX(5em);
  }

  75% {
    transform: translateX(30em);
  }

  100% {
    transform: translateX(5em);
  }
}

/* from {
  transform: translateX(5em)
}

to {
  transform: translateX(30em)
} */

/* slide down to make room for advertisements */


@keyframes displaceContentR {
  from {
    transform: translateX(30em)
  }

  to {
    transform: translateX(5em)
  }

  /* slide down to make room for advertisements */
}



#circuit {
  position: absolute;
  top: -50px;
  z-index: -1;
  width: 100%;
  height: 200px;
  opacity: 0.4;
  left: 0;
  animation: robot1 10s linear infinite;
}

#circuit-container {
  position: relative;
  background-size: cover;
  animation: robot1 10s linear infinite;
}

#slash-btn {
  font-size: 20px;
  color: black;
}

#slash-btn:hover span {
  display: none
}

#slash-btn:hover:before {
  content: "/slash commands"
}

#slash-btn:hover {
  font-weight: 800;
  background-color: #03213a;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#floatingSearch {
  width: 400px;
}

a {
  color: #fff;
}

.scrollable-td {
  /* border: 1px solid black; */
  color: aliceblue;
  border: none;
  vertical-align: middle;
}

.scrollable-th {
  /* border-left: 1px solid black; */
  color: aliceblue;
}

.scrollable-tbl {
  border-collapse: collapse;
  width: 100%;
  padding: 0 10px;
}

.scrollable-tbl {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 200px;

  overflow-y: auto;
  overflow-x: hidden;

}

.scrollable-thead {
  padding-right: 13px;
  flex: 0 0 auto;
}

.scrollable-tbody {
  flex: 1 1 auto;
  display: block;
}

.scrollable-tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  border: none;
}

/* #allIssues {
  height: 200px;
  overflow-y: scroll;
} */

::-webkit-scrollbar {
  width: 2px;
  background: rgb(0, 21, 36);
  background: linear-gradient(180deg, rgba(0, 21, 36, 1) 0%, rgba(121, 9, 85, 1) 56%, rgba(210, 47, 47, 1) 100%);
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(0, 21, 36, 0.062) 0%, rgba(255, 49, 76, 0.842) 56%, rgba(210, 47, 47, 0.048) 100%);
  border-radius: 10px;

}


img.token {}

/* #parent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#child{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;  Increase/decrease this value for cross-browser compatibility 
  box-sizing: content-box;  So the width will be 100% + 17px 
} */