html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1680px;

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #011525;
}

.section-1-bg
{
  margin: 0;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  z-index: -1;
  background: rgb(0,21,36);
  background: linear-gradient(0deg, rgba(0,21,36,1) 0%, rgba(121,9,85,1) 56%, rgba(210,47,47,1) 100%);
}

#circuit {
  position: absolute;
  top: -50px;
  z-index: -1;
  width: 100%;
  height: 200px;
  opacity: 0.4;
  left: 0;
  animation: robot1 10s linear infinite;
}

#circuit-container {
  position: relative;
  background-size: cover;
  animation: robot1 10s linear infinite;
}

#slash-btn {
  font-size: 20px;
  color: black;
}

#slash-btn:hover span {
  display: none
}

#slash-btn:hover:before {
  content: "/slash commands"
}
#slash-btn:hover{
  font-weight: 800;
  background-color: #03213a;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#floatingSearch {
  width: 400px;
}

a {
  color: #fff;
}
.scrollable-td {
  /* border: 1px solid black; */
  color: aliceblue;
  border: none;
} 

.scrollable-th {
  /* border-left: 1px solid black; */
  color: aliceblue;
}

.scrollable-tbl {
  border-collapse: collapse;
  width: 100%;
}

.scrollable-tbl {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 200px;
    
}

.scrollable-thead {
    padding-right: 13px;
    flex: 0 0 auto;
}

.scrollable-tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    border: none;
}